* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

 .tabs {
  width: 80%;
  max-width: auto;
  height: auto;
  min-height: 300px;
  border: 1px solid #000000;
  margin: 3.5rem auto 1.5rem;
  color: #E8F0F2;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

 ul.tab__item {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #94a0d5;
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.tab__item li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.tab__item li:hover {
  background: #827e82;
}
ul.tab__item li.active {
  background: #6781f5;
}


.tab__content {
  margin: 1rem;
  font-size: 1.2em;
  text-align: center;
  color: #000000;
}
